<h1>Detailed information for: <%= @employee.first_name %> <%= @employee.last_name %></h1>

<ul>

   <li> First Name: <%= @employee.first_name %> </li>
    <li> Last Name: <%= @employee.last_name %> </li>
    <li> Alias: <%= @employee.alias %> </li>
    <li> Title: <%= @employee.title %></li>
    <li> Office: <%= @employee.office %> </li>
    <li> Image Link: <%= @employee.img_url %> </li>

</ul>